*{
    box-sizing: border-box;
}
body{
    margin:0;
    background: #528B8B; 
    font-size: 16px;   
}
form{
    text-align: center;
}


.reg_box{
     background: white;
     width: 500px;
     height: 750px;
     margin: 0px auto 0px;     
     padding: 5px 100px 0px;          
}
.trainer-label{
     color: blue;
}

.reg_logo{
     width:300px;
}
.page-header{
     border: 0;
}
.form-control{
     border-radius:0;
     height: 40px;
     width: 300px;
}
.btn{
     margin: 10px 0 20px;
}
.already-registered{    
    color: blue;
    font-size: 1.1em;
}